section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skills {
    height: 67%;
}

.contact {
    height: 33%;
}

.profile {
    height: 87%;
}

.practical-experience,
.educational-experience {
    height: 88%;
}

/*profile section */
.title.profile {
    height: 20%;
}

.content.profile {
    height: 70%;
}


/*contact section */

.title.contact {
    height: 20%;
}

.content.contact {
    height: 100%;
}

.content.contact ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 15px;

}

.content.contact ul .item {
    padding-left: 25px;
    display: flex;
    align-items: flex-end;
    filter: brightness(0) invert(1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
}

.contact .content ul .item:nth-child(1) {
    margin-top: 10px;
    background-image: url("../img/mail.svg");
}

.contact .content ul .item:nth-child(2) {
    background-image: url("../img/phone.svg");
}

.contact .content ul .item:nth-child(3) {
    background-image: url("../img/address.svg");
}

.contact .content ul .item:nth-child(4) {
    background-image: url("../img/web.svg");
}

/* skills section */

.title.skills {
    height: 10%;
}

.content.skills {
    height: 100%;
    display: flex;
}

.content.skills ul {
    padding: 0;
    display: flex;
    margin: 0;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
}

.content.skills ul figure {
    margin: 0;
    list-style-position: inside;
    height: 100%;
}

.content.skills ul figure figcaption {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.content.skills ul figure figcaption li {
    font-weight: normal;
}

/* education & practical section */

.educational-experience .content ul,
.practical-experience .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.title.practical-experience,
.title.educational-experience {
    height: 20%;
}

.educational-experience .content ul,
.practical-experience .content ul {
    color: rgb(87, 87, 87);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.educational-experience .content ul :nth-child(-n+2),
.practical-experience .content ul :nth-child(-n+2) {
    color: rgb(3, 3, 3);
    font-size: 0.98rem;
}

.educational-experience .content ul :nth-child(-n+2),
.practical-experience .content ul :nth-child(-n+2) {
    color: rgb(3, 3, 3);
    font-size: 0.98rem;
}

.educational-experience .content ul .item,
.practical-experience .content ul .item {
    display: flex;
    align-items: flex-end;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: left center;
    text-align: left;
}

.educational-experience .content ul :nth-child(3),
.practical-experience .content ul :nth-child(3) {
    background-image: url("../img/address.svg");
    padding-left: 20px;

}

.educational-experience .content ul :nth-child(4),
.practical-experience .content ul :nth-child(4) {
    background-image: url("../img/calendar.svg");
    padding-left: 20px;
}

/*name section*/

.your-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-name .content {
    display: flex;
    align-items: center;
    flex-direction: column;
}